@mixin dotBackground {
  // Colors
  $bg-color: hsl(256, 256, 256);
  $dot-color: rgb(0, 0, 0);

  // Dimensions
  $dot-size: 0.1rem;
  $dot-space: 0.2rem;
  background: linear-gradient(
        90deg,
        $bg-color ($dot-space - $dot-size),
        transparent 1%
      )
      center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}
