@import "reset";
@import "base";

.wrapper {
    padding: 2rem;
}
.logo {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    // margin-top: 1rem;
    // margin-bottom: 10rem;
    position: fixed;
    width: calc(100% - 4rem);
    left: 0;
    top: 0;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.658);
}
main {
    padding-top: 20rem;
}

.btn-tag {
    display: inline-block;
    padding: 0.3rem 0.7rem 0.4rem;
    border-radius: 0.7rem;
    font-size: 1.1rem;
    border: 1px solid rgb(228, 228, 228);
    color: #999;
    background-color: rgb(245, 245, 245);
    margin-right: 0.5rem;

    &.large {
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 2rem;
        border-radius: 2rem;
    }
    &.work {
        padding: 0.2rem 0.5rem 0.3rem;
        border-radius: 0.3rem;
        font-weight: bold;
        &.ko {
            font-family: "Noto Sans";
        }
    }
}

.btn-tag-filter {
    display: inline-block;
    padding: 0.3rem 0.5rem 0.5rem 0.2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    border: 1px solid rgb(228, 228, 228);
    color: #999;
    background-color: rgb(245, 245, 245);
    margin-right: 0.5rem;
}

.float-flex {
    display: flex;
}
.view {
    margin-bottom: 10rem;
    h2 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-bottom: 3rem;
    }
    // &-tags {
    //     .btn-tag {
    //         background-color: aquamarine;
    //         display: inline-block;
    //         padding: 1rem 2rem;
    //         font-weight: bold;
    //         font-size: 2rem;
    //         border-radius: 2rem;
    //     }
    // }
    .items {
        .item {
            margin-bottom: 3rem;
            .name {
                font-size: 2.3rem;
                font-weight: 600;
                letter-spacing: -0.1rem;
                margin-bottom: 1rem;
            }
            .position {
                color: #8d8d8a;
                margin-bottom: 1.3rem;

                .year {
                    color: #bebebc;
                    margin-left: 1rem;
                }
            }
        }
    }
    &-career {
    }
    &-works {
        .items {
            .item {
                margin-bottom: 4rem;
            }
        }
        .year {
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
        .group-year {
            .group-month {
                // display: flex;
                // align-items: center;
                margin-bottom: 1.8rem;
                .month {
                    // font-size: 2rem;
                    font-weight: 600;
                    margin-left: 0.2rem;
                    width: 2.5rem;
                    // float: left;
                    display: inline-block;
                }
                .btn-tag {
                    display: inline-block;
                }

                .title {
                    font-family: "Noto Sans";
                    font-size: 1.4rem;
                    margin-left: 3.2rem;
                    margin-top: 0.8rem;
                    // display: inline-block;
                    // float: left;
                    // font-weight: 700;
                }
            }
        }
    }
}

.footer {
    // margin-bottom: 1rem;
}
