@import "reset";
@import "base";

.wrapper {
    padding: 2rem;
}
.logo {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.btn-tag {
    // background-color: aquamarine;
    display: inline-block;
    padding: 0.3rem 0.7rem 0.4rem;
    border-radius: 0.7rem;
    font-size: 1.1rem;
    border: 1px solid rgb(228, 228, 228);
    color: #999;
    background-color: rgb(245, 245, 245);
    margin-right: 0.5rem;

    &.large {
        padding: 1rem 2rem;
        font-weight: bold;
        font-size: 2rem;
        border-radius: 2rem;
    }
}

.view {
    margin-bottom: 6rem;
    h2 {
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        margin-bottom: 3rem;
    }
    // &-tags {
    //     .btn-tag {
    //         background-color: aquamarine;
    //         display: inline-block;
    //         padding: 1rem 2rem;
    //         font-weight: bold;
    //         font-size: 2rem;
    //         border-radius: 2rem;
    //     }
    // }
    &-career {
        .items {
            .item {
                margin-bottom: 3rem;
                .name {
                    font-size: 2.3rem;
                    font-weight: 600;
                    letter-spacing: -0.1rem;
                    margin-bottom: 1rem;
                }
                .position {
                    color: #8d8d8a;
                    margin-bottom: 1.3rem;

                    .year {
                        color: #bebebc;
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
    &-works {
        margin-bottom: 4rem;
    }
}
