<header>
    <h1 class="logo">
        <div>MA</div>
        <div>CAO</div>
    </h1>
</header>
<main>
    <!-- <div>
        <ul>
            <li>Skeleton UI framework (https://github.com/macaos/Skeleton-UI)</li>
            <li>Util</li>
        </ul>
    </div> -->
    <!-- <p style="font-size: 10rem;">&#128539;</p>
    <p>&#x1F601;</p> -->
    <!-- <div id="view-tags" class="view-tags">
        <ul>
            <li class="btn-tag">web<span>4</span></li>
            <li class="btn-tag">app<span>2</span></li>
        </ul>
    </div> -->
    <div id="view-career" class="view view-career">
        <h2>&#x1F601; Career</h2>
        <ul class="items">
            <li class="item">
                <div class="name">
                    <div>Samsung Fire</div>
                </div>
                <div class="part">Lead Professional / UI Dept. <span class="year">2018 - NOW</span></div>
                <div class="skill">
                    <span class="btn-tag">nodejs</span>
                    <span class="btn-tag">React</span>
                    <span class="btn-tag">Typescript</span>
                    <span class="btn-tag">Javascript</span>
                </div>
            </li>
            <li class="view-CareerItem">
                <div class="year">2012 - 2017</div>
                <div class="companyname">
                    <div>kobaltlab</div>
                </div>
                <div class="part">co-founder / UX Dept.</div>
                <div class="skill"><span>Actionscript</span> / <span>Swift</span> / <span>Javascript</span></div>
            </li>
            <li class="view-CareerItem">
                <div class="year">2011 - 2011</div>
                <div class="companyname">
                    <div>mrstory</div>
                </div>
                <div class="part">ceo / founder</div>
                <div class="skill"><span>PHP</span> / <span>Objective C</span> / <span>UI Design</span></div>
            </li>
            <li class="view-CareerItem">
                <div class="year">2007 - 2010</div>
                <div class="companyname">
                    <div>kobalt60</div>
                </div>
                <div class="part">Team Leader / UX Dept.</div>
                <div class="skill"><span>Actionscript</span> / <span>AfterEffect</span> / <span>MotionGraphic</span>
                </div>
            </li>
            <li class="view-CareerItem">
                <div class="year">2001 - 2006</div>
                <div class="companyname">
                    <div>Kaywon</div>
                    <div>University of </div>
                    <div>Art &amp; Design</div>
                </div>
                <div class="part">Student / Multimedia Design</div>
                <div class="skill"><span></span></div>
            </li>
        </ul>
    </div>
    <div id="view-skills" class="view view-skills">
        <h2>&#x1F601; Skills</h2>
        <ul class="items">
            <li class="item">
                <div class="name">Now</div>
                <div>
                    <span class="btn-tag">nodejs</span><span class="btn-tag">nodejs</span><span
                        class="btn-tag">nodejs</span>
                </div>
            </li>
            <li class="item">
                <div class="name">Used</div>
                <div>
                    <span class="btn-tag">nodejs</span><span class="btn-tag">nodejs</span><span
                        class="btn-tag">nodejs</span>
                </div>
            </li>
            <li class="item">
                <div class="name">Other experiences</div>
                <div>
                    <span class="btn-tag">nodejs</span><span class="btn-tag">nodejs</span><span
                        class="btn-tag">nodejs</span>
                </div>
            </li>
        </ul>
    </div>
    <div id="view-works" class="view view-works">
        <h2>&#x1F601; Works</h2>


        <!-- <span class="btn-tag-filter">
                <i class="xi-close-circle xi-x"></i>
                ALL
            </span> -->


        <!-- <span class="btn-tag">nodejs</span> -->
        <ul class="items">
            <li class="item">
                <div class="year">2019</div>
                <ul class="group-year">

                    <li class="group-month">
                        <div class="month">11</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">토스 실손보험</div>
                    </li>
                    <li class="group-month">
                        <div class="month">7</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">이륜자동차보험 v4.0</div>
                    </li>
                    <li class="group-month">
                        <div class="month">6</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">자동차보험 배서 v4.0</div>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="year">2018</div>
                <ul class="group-year">

                    <li class="group-month">
                        <div class="month">11</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">토스 실손보험</div>
                    </li>
                    <li class="group-month">
                        <div class="month">7</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">이륜자동차보험 v4.0</div>
                    </li>
                    <li class="group-month">
                        <div class="month">6</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">자동차보험 배서 v4.0</div>
                    </li>
                </ul>
            </li>
            <li class="item">
                <div class="year">2017</div>
                <ul class="group-year">

                    <li class="group-month">
                        <div class="month">11</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">토스 실손보험</div>
                    </li>
                    <li class="group-month">
                        <div class="month">7</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">이륜자동차보험 v4.0</div>
                    </li>
                    <li class="group-month">
                        <div class="month">6</div>
                        <span class="btn-tag work ko">보험</span>
                        <div class="title">자동차보험 배서 v4.0</div>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</main>
<footer class="footer">
    <i class="xi-telegram xi-2x"></i>
</footer>